#projects {
    min-height: 100vh; 
    background: linear-gradient(rgb(205, 130, 235) 60%, rgb(230, 165, 255));
    padding-bottom: 100px;

 }
 
 .card {
    width: 25%;
    display: inline-block;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
 }

 .card-image {
     max-width: 100%;
     border-radius: 8px;
 }
 
 .card-title a {
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
    
    
 }

 @media (max-width: 768px){
     .card {
        padding: 15px; 
        width: 100%;
        margin-bottom: 15px;
     }
     .card-title a {
         font-size: 12px;
     }
 }